
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <Title>Menu</Title>
</head>
<body >
<div th:replace="layout :: title" > </div>
<div>
<div th:replace="layout :: columnLeft" > </div>
<div th:replace="layout :: columnMid" > </div>
<div th:replace="layout :: columnRight" > </div>
</div>


<!--<div th:insert="layout :: footer" class="footer"> </div>-->

<!--<div th:fragment="footer" class="footer">-->
<!--    <p>VnNhnLm 4/2020 C0120G1</p>-->

<!--</div>-->


</body>
</html>


