<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Create Contract</title>
</head>
<body>
<div th:replace="layout :: title"> </div>
<div th:replace="layout :: columnLeft"> </div>


<div class="column middle">
    <a href="/menu" style="color: black">Back to Menu</a>
    <a href="/contracts" style="color: black">List Contract</a>
    <h1>Create Contract </h1>
    <th:block th:if="${message}">
        <p style="color: red" th:text="${message}"></p>
    </th:block>

    <form th:action="@{createContract}" method="post" th:object="${contract}">
        <!--    <input type="hidden" th:field="*{id}">-->
        <table>
            <tr>
                <td>Contract Number:</td>
                <td><input type="text" th:field="*{contractNumber}"></td>
            </tr>
            <tr>
                <td>Begin Date:</td>
                <td><input type="date" th:field="*{beginDate}" max="2020-04-29" min="2019-01-01"></td>
            </tr>
            <tr>
                <td colspan="2" th:if="${#fields.hasErrors('beginDate')}" style="color: red" th:errors="*{beginDate}">Begin Date Error</td>
            </tr>
            <tr>
                <td>End Date:</td>
                <td><input type="date" th:field="*{endDate}" max="2030-01-01" min="2020-04-29"></td>
            </tr>
            <tr>
                <td colspan="2" th:if="${#fields.hasErrors('endDate')}" style="color: red" th:errors="*{endDate}">End Date Error</td>
            </tr>
            <tr>
                <td>Deposit:</td>
                <td><input type="text" th:field="*{deposit}"></td>
            </tr>
            <tr>
                <td colspan="2" th:if="${#fields.hasErrors('deposit')}" style="color: red" th:errors="*{deposit}">Deposit Error</td>
            </tr>
            <tr>
                <td colspan="2" th:if="${#fields.hasErrors('totalPay')}" style="color: red" th:errors="*{totalPay}">TotalPay Error</td>
            </tr>
            <tr>
                <td>Customer</td>
                <td>
                    <select th:field="*{customer}">
                        <option th:each="c:${customers}" th:value="${c.id}" th:text="${c.fullName}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Employee</td>
                <td>
                    <select th:field="*{employee}">
                        <option th:each="e:${employees}" th:value="${e.id}" th:text="${e.fullName}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Service</td>
                <td>
                    <select th:field="*{service}">
                        <option th:each="s:${services}" th:value="${s.id}" th:text="${s.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Create Contract"></td>
            </tr>
        </table>
    </form>
</div>
<div th:replace="layout :: columnRight"> </div>


</body>
</html>