<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-blog">Create new blog</a>
<h1>Blog</h1>
<table border="1">
    <tr>
        <th>Pepper threads</th>
        <th>Content </th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blogs.p}"></td>
            <td th:text="${blogs.content}"></td>
            <td><a th:href="@{/edit-customer/__${blogs.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-customer/__${blogs.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>